<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">limitless</property>
        <property name="hibernate.connection.url">jdbc:mysql://139.59.15.249:3306/noncomp?autoReconnect=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.delivery.backend.daos.Users"/>
        <mapping class="com.delivery.backend.daos.DeliveryPrint"/>
        <mapping class="com.delivery.backend.daos.DeliveryStatus"/>
        <mapping class="com.delivery.backend.daos.Employee"/>
        <mapping class="com.delivery.backend.daos.LiveStatus"/>
        <mapping class="com.delivery.backend.daos.MST_ID"/>
        <mapping class="com.delivery.backend.daos.MstStatus"/>
        <mapping class="com.delivery.backend.daos.Relation"/>
        <mapping class="com.delivery.backend.daos.UnDeliveryStatus"/>
        <mapping class="com.delivery.backend.daos.Shipment"/>
    </session-factory>
</hibernate-configuration>
